<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <p><img [src]="imgUrl" alt="" /></p>
</div>
<p>
  <input type="text" name="name" id="name" placeholder="Enter Your Name" #nameInput [(ngModel)]="name">
  {{name}}
</p>
<!-- passing the nameInput in the function so that we can use that in the function in the ts file -->
<!-- <button (click)="onClick(nameInput)" [disabled]='buttonCondition'>Click Me</button> -->
<!-- passing the event object in the function so that we can use that in the function in the ts file -->
<button (click)="onClick($event)" [disabled]='buttonCondition'>Click Me</button>
<app-parent></app-parent>
<router-outlet></router-outlet>
